flows/Active_Division_Names_daily_on_Account_batch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Adding_Active_Division_Name</name>
        <label>Adding Active Division Name</label>
        <locationX>1029</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>ToStoreActiveDivisions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Looping_the_dealer_subdivision_records.Division_CD__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_the_dealer_subdivision_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ByPass_Automation</name>
        <label>ByPass Automation</label>
        <locationX>491</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Automation_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_get_active_dealer_subdivision_records</targetReference>
            </connector>
            <label>Bypass Automation Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Active_Division_Name</name>
        <label>Checking Active Division Name</label>
        <locationX>844</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Active_Division_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Divisions__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RemoveLastComma</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_Subdividion</targetReference>
            </connector>
            <label>Check Active Division Name</label>
        </rules>
    </decisions>
    <formulas>
        <name>RemoveLastComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!ToStoreActiveDivisions},LEN({!ToStoreActiveDivisions})-2)</expression>
    </formulas>
    <interviewLabel>Active Division Names daily on Account batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Division Names daily on Account batch</label>
    <loops>
        <name>Looping_the_dealer_subdivision_records</name>
        <label>Looping the dealer subdivision records</label>
        <locationX>857</locationX>
        <locationY>318</locationY>
        <collectionReference>To_get_active_dealer_subdivision_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_Active_Division_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Active_Division_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>To_get_active_dealer_subdivision_records</name>
        <label>To get active dealer subdivision records</label>
        <locationX>716</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_the_dealer_subdivision_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_Subdividion</name>
        <label>Update Active Subdividion</label>
        <locationX>1069</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Active_Divisions__c</field>
            <value>
                <elementReference>RemoveLastComma</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ByPass_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127c0000009LQAAA2</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-20</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ToStoreActiveDivisions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
