flows/Bulk_email_screen_flow_for_NSX_opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_the_selected_opportunities_from_list_view</name>
        <label>Get the selected opportunities from list view</label>
        <locationX>779</locationX>
        <locationY>153</locationY>
        <actionName>sendListofIdsToFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Looping_to_get_email_ids_for_opptys</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendListofIdsToFlow</nameSegment>
        <outputParameters>
            <assignToReference>getSelectedOpportunities</assignToReference>
            <name>records</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail</name>
        <label>Send Mail</label>
        <locationX>1092</locationX>
        <locationY>173</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Display_Success_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TestRichtext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>formulaemailstore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Adding_Email_ids_to_store_in_the_variable</name>
        <label>Adding Email ids to store in the variable</label>
        <locationX>914</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>StoreEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Looping_to_get_email_ids_for_opptys.Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_to_get_email_ids_for_opptys</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Hatchback_option_now_available_with_this_vehicle</name>
        <choiceText>Hatchback option now available with this vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hatchback option now available with this vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Production_Month_Confirmed</name>
        <choiceText>Production Month Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Production Month Confirmed</stringValue>
        </value>
    </choices>
    <choices>
        <name>This_vehicle_is_available_for_purchase_now</name>
        <choiceText>This vehicle is available for purchase now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>This vehicle is available for purchase now</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_bypassautomations</name>
        <label>check bypassautomations</label>
        <locationX>520</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decision_element_for_bypass_automations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception_handler_for_null_id</targetReference>
            </connector>
            <label>decision element for bypass automations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_handler_for_null_id</name>
        <label>Exception handler for null id</label>
        <locationX>638</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_selected</targetReference>
            </connector>
            <label>Null path</label>
        </rules>
        <rules>
            <name>not_null_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_selected_opportunities_from_list_view</targetReference>
            </connector>
            <label>not null path</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaemailstore</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT({!To},1)=&apos;;&apos;,SUBSTITUTE({!To},&apos;;&apos;,&apos;,&apos;),SUBSTITUTE(({!To}+&apos;;&apos;),&apos;;&apos;,&apos;,&apos;))</expression>
    </formulas>
    <interviewLabel>Bulk email screen flow for NSX opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk email screen flow for NSX opportunities</label>
    <loops>
        <name>Looping_to_get_email_ids_for_opptys</name>
        <label>Looping to get email ids for opptys</label>
        <locationX>680</locationX>
        <locationY>399</locationY>
        <collectionReference>getSelectedOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_Email_ids_to_store_in_the_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Bulk_Emails</name>
        <label>Bulk Emails</label>
        <locationX>818</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Mail</targetReference>
        </connector>
        <fields>
            <name>To</name>
            <defaultValue>
                <stringValue>{!StoreEmails}</stringValue>
            </defaultValue>
            <fieldText>TO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Body</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>Email_Body.placeholder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Store_Body</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please enter your Message</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>testFooter</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationURL</name>
                <value>
                    <stringValue>https://americanhondamotorcohelms--ahmdev.lightning.force.com/lightning/o/Opportunity/list?filterName=00B7c000001uX9LEAU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>a list view (object home page)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>1249</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(36, 221, 30);&quot;&gt;Message Sent Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Id_selected</name>
        <label>No Id selected</label>
        <locationX>517</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaynoopptyselected</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 14, 14);&quot;&gt;﻿No Opportunity Selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Select Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_bypassautomations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TestRichtext</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Email_Body.value}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>getSelectedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Store_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
