flows/Case_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Case_Assignment_for_Marine_PSP_HELMS_Tier2_support_Queue_s</name>
        <label>Case Assignment for Marine,PSP,HELMS Tier2 support  Queue&apos;s</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Assignment_for_Marine_Queue</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_by_User_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer Leads to New CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marine_Queue</targetReference>
            </connector>
            <label>Case Assignment for Marine Queue</label>
        </rules>
        <rules>
            <name>Case_Assignment_for_PSP_Queue</name>
            <conditionLogic>(1 AND 2 AND 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_by_User_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSP_Queue</targetReference>
            </connector>
            <label>Case Assignment for PSP Queue</label>
        </rules>
        <rules>
            <name>Case_Assignment_For_HELMS_Tier_2_Support</name>
            <conditionLogic>((1 OR 2 OR 3 )AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New CRM Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HELMS_Tier_2</targetReference>
            </connector>
            <label>Case Assignment For HELMS Tier 2 Support</label>
        </rules>
        <rules>
            <name>Case_Assignment_Portal_User</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 )AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_by_User_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Created_by_User_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New CRM Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_User</targetReference>
            </connector>
            <label>Case Assignment Portal User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HELMS_Tier_2</name>
        <label>Get HELMS Tier 2</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Tier_2_support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HELMS_Tier_2_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_User</name>
        <label>Get Portal User</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Tier_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HELMS_Tier_1_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PSP_Queue</name>
        <label>Get PSP Queue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PSP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Powersports_Case_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Marine_Queue</name>
        <label>Get Marine Queue ID</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marine_Case_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_PSP_Queue</name>
        <label>Assign PSP Queue</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_PSP_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Queue</name>
        <label>Assign Queue</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Marine_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Tier_2_support</name>
        <label>Assign Tier 2 support</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_HELMS_Tier_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Tier_1</name>
        <label>Assign to Tier 1</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Portal_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Assignment_for_Marine_PSP_HELMS_Tier2_support_Queue_s</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
