flows/Clone_Related.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_QuoteRecord_into_List</name>
        <label>Add QuoteRecord into List</label>
        <locationX>138</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>QuoteListsofgetQuotes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_created_quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_created_quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Case_into_List</name>
        <label>Assign for Case into List</label>
        <locationX>138</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CaseInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Created_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseInstance.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Created_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notes_into_List</name>
        <label>Assign Notes into List</label>
        <locationX>138</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>NotesInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Newly_created_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesInstance.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotesInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Newly_created_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_new_opportunity</name>
        <label>Assign to new opportunity</label>
        <locationX>138</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_additional_fields.Opportunity_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttributesListAppend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Quote_List</name>
        <label>Assign to Quote List</label>
        <locationX>138</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_created_quotes.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QuoteRecord_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Matchbacks</name>
        <label>Assignment for Matchbacks</label>
        <locationX>138</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>MatchbackInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Newly_Created_Matchbacks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchbackInstance.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchbackList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchbackInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Newly_Created_Matchbacks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributesListAppend</name>
        <label>AttributesListAppend</label>
        <locationX>138</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>AdditionalFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_additional_fields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_additional_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_BypassAutomations_c</name>
        <label>check BypassAutomations__c</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassAutomations_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Realations</targetReference>
            </connector>
            <label>BypassAutomations__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Dynamic_Fields_Object</name>
        <label>Check for additional Fields Object</label>
        <locationX>182</locationX>
        <locationY>4343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dynamic_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dynamic_fields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_additional_fields</targetReference>
            </connector>
            <label>Dynamic Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Match_Backs</name>
        <label>Check for Match Backs</label>
        <locationX>182</locationX>
        <locationY>3551</locationY>
        <defaultConnector>
            <targetReference>Check_for_Dynamic_Fields_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_MatchBacks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMatchbacks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MatchBacks</targetReference>
            </connector>
            <label>Check for MatchBacks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_get_Quotes_Records</name>
        <label>Check get Quotes Records</label>
        <locationX>182</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Check_for_Match_Backs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_get_Quotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_created_quotes</targetReference>
            </connector>
            <label>Check get Quotes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Note_get_Records</name>
        <label>Check Note get Records</label>
        <locationX>182</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Check_get_Quotes_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Notes</targetReference>
            </connector>
            <label>Check Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkgetCaseRecords</name>
        <label>checkgetCaseRecords</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Check_Note_get_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkgetCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_cases</targetReference>
            </connector>
            <label>checkgetCase</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Related</label>
    <loops>
        <name>Loop_through_additional_fields</name>
        <label>Loop through additional fields</label>
        <locationX>50</locationX>
        <locationY>4463</locationY>
        <collectionReference>Get_Dynamic_fields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_new_opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Additional_Attributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Created_Cases</name>
        <label>Loop Through Created Cases</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <collectionReference>getCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_for_Case_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_with_newly_Created_Opportunity_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_created_quotes</name>
        <label>Loop through created quotes</label>
        <locationX>50</locationX>
        <locationY>2879</locationY>
        <collectionReference>getQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Quote_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_quotes_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Newly_Created_Matchbacks</name>
        <label>Loop through Newly Created Matchbacks</label>
        <locationX>50</locationX>
        <locationY>3791</locationY>
        <collectionReference>getMatchbacks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_for_Matchbacks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MatchbackList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Newly_created_Notes</name>
        <label>Loop through Newly created Notes</label>
        <locationX>50</locationX>
        <locationY>2207</locationY>
        <collectionReference>getNotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Notes_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Notes_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Additional_Attributes</name>
        <label>Create Additional Attributes</label>
        <locationX>50</locationX>
        <locationY>4919</locationY>
        <inputReference>AdditionalFields</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_cases</name>
        <label>Create cases</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Loop_Through_Created_Cases</targetReference>
        </connector>
        <inputReference>getCases</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MatchBacks</name>
        <label>Create MatchBacks</label>
        <locationX>50</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Loop_through_Newly_Created_Matchbacks</targetReference>
        </connector>
        <inputReference>getMatchbacks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_quotes_0</name>
        <label>Create new quotes</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <connector>
            <targetReference>Check_for_Match_Backs</targetReference>
        </connector>
        <inputReference>QuoteListsofgetQuotes</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Loop_through_Newly_created_Notes</targetReference>
        </connector>
        <inputReference>getNotes</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Realations</name>
        <label>Create Opportunity Realations</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>getCases</targetReference>
        </connector>
        <inputAssignments>
            <field>New_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Opportunity__c</field>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Cloning__c</field>
            <value>
                <stringValue>Dealer Buy-Sell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Relations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dynamic_fields</name>
        <label>Get Dynamic fields</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkgetCaseRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Additional_Attribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCases</name>
        <label>getCases</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMatchbacks</name>
        <label>getMatchbacks</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dynamic_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotes</name>
        <label>getNotes</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuotes</name>
        <label>getQuotes</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMatchbacks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases_with_newly_Created_Opportunity_0</name>
        <label>Update Cases with newly Created Opportunity</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>Check_Note_get_Records</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MatchbackList</name>
        <label>Update MatchbackList</label>
        <locationX>50</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Check_for_Dynamic_Fields_Object</targetReference>
        </connector>
        <inputReference>MatchbackList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notes_0</name>
        <label>Update Notes</label>
        <locationX>50</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Check_get_Quotes_Records</targetReference>
        </connector>
        <inputReference>NotesList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_BypassAutomations_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Additional_Attribute__c</objectType>
    </variables>
    <variables>
        <name>AttributesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Additional_Attribute__c</objectType>
    </variables>
    <variables>
        <name>CaseInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MatchbackInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matchback__c</objectType>
    </variables>
    <variables>
        <name>MatchbackList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matchback__c</objectType>
    </variables>
    <variables>
        <name>NotesInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
    <variables>
        <name>NotesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
    <variables>
        <name>OrderInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>QuoteInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteListsofgetQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
