flows/Copy_to_New_Dealer_SubFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>903</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>DealerSubdivisionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_the_Dealer_Subdivisions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_the_Dealer_Subdivisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Dealer_Access</name>
        <label>Update Dealer Access</label>
        <locationX>901</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_the_Dealer_Subdivisions.Dealer_Access_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckByPass</name>
        <label>CheckByPass</label>
        <locationX>449</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckByPass1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Relations</targetReference>
            </connector>
            <label>CheckByPass1</label>
        </rules>
    </decisions>
    <interviewLabel>Copy to New Dealer SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy to New Dealer SubFlow</label>
    <loops>
        <name>Loop_Through_the_Dealer_Subdivisions</name>
        <label>Loop Through the Dealer Subdivisions</label>
        <locationX>826</locationX>
        <locationY>50</locationY>
        <collectionReference>get_Dealer_Subdivisions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Dealer_Access</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Dealer_Subdivisions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Dealer_Subdivisions</name>
        <label>get Dealer Subdivisions</label>
        <locationX>693</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_the_Dealer_Subdivisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dealer_Subdivisions</name>
        <label>Update Dealer Subdivisions</label>
        <locationX>719</locationX>
        <locationY>320</locationY>
        <inputReference>DealerSubdivisionList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Relations</name>
        <label>Update Opportunity Relations</label>
        <locationX>581</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>get_Dealer_Subdivisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Relations__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckByPass</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealerSubdivisionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dealer_Division__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRelations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Relations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
