flows/Copy_To_New_Dealer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Selected_Opportunities</name>
        <label>Get Selected Opportunities</label>
        <locationX>205</locationX>
        <locationY>387</locationY>
        <actionName>sendListofIdsToFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_through_selected_opportunities11</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filteringValuesCollection</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendListofIdsToFlow</nameSegment>
        <outputParameters>
            <assignToReference>getSelectedOpportunities</assignToReference>
            <name>records</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>2130</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.PreferredDealerAccount_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredDealerAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Reason_For_Cloning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_For_Cloning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.MiddlewareUUID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Launchbox_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Opportunity_SF_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status_Message__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status_Success_Age_NUM__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Success_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Failure_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Error_for_Dashboard__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Error_Details_Urban_Science__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Response_Urban_Science__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SendOnlyToUrbanScience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Sent_to_Urban_Science_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.External_Lead_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routable_FLG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list1</name>
        <label>Add to list</label>
        <locationX>2261</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignNewFieldValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Division</name>
        <label>Assign Division</label>
        <locationX>1646</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Honda_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Division_P</name>
        <label>Assign Division P Motorcycle</label>
        <locationX>1779</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marine_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Division_Pr</name>
        <label>Assign Division P Recordtype Marine</label>
        <locationX>1654</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DivisionB</name>
        <label>Assign DivisionB</label>
        <locationX>1731</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acura_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Division_M</name>
        <label>Assign for Division M</label>
        <locationX>1532</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MotorCycle_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subdivision</name>
        <label>Assign Subdivision</label>
        <locationX>395</locationX>
        <locationY>74</locationY>
        <assignmentItems>
            <assignToReference>Subdivision1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_selected_opportunities11.SubDiv_TXT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_selected_opportunities11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_DivisionP_RT</name>
        <label>Assignment for DivisionP Engine RT</label>
        <locationX>1649</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engine_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Division_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SubDiv_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BypassAutomations_c</name>
        <label>Check BypassAutomations__c</label>
        <locationX>183</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassAutomations_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Opportunities</targetReference>
            </connector>
            <label>BypassAutomations__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_subdivision</name>
        <label>Check for subdivision</label>
        <locationX>1340</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_SubdivisionHonda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Honda_Record_Type</targetReference>
            </connector>
            <label>HondaCheck for Subdivision</label>
        </rules>
        <rules>
            <name>Check_for_SubdivisionHondaAcura_NSX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acura_Record_Type</targetReference>
            </connector>
            <label>Acura/NSXCheck for SubdivisionHonda</label>
        </rules>
        <rules>
            <name>Check_for_SubdivisionMotorcycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motorcycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotorCycle_Record_Type</targetReference>
            </connector>
            <label>MotorcycleCheck for Subdivision</label>
        </rules>
        <rules>
            <name>Check_for_SubdivisionPower_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerEquipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipment_Record_Type</targetReference>
            </connector>
            <label>Power EquipmentCheck for Subdivision</label>
        </rules>
        <rules>
            <name>Check_for_SubdivisionMarine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marine_Record_Type</targetReference>
            </connector>
            <label>MarineCheck for Subdivision</label>
        </rules>
        <rules>
            <name>Check_for_Subdivision_Engine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engine_Record_Type</targetReference>
            </connector>
            <label>Engine Check for Subdivision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Zip_Code</name>
        <label>Check Zip Code</label>
        <locationX>1091</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_To_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCodeLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Selected_Opportunities.ZipCode_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_subdivision</targetReference>
            </connector>
            <label>Equal To 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Subdvision_is_not_present</name>
        <label>If Subdvision is not present</label>
        <locationX>654</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Subdivision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedPrefferedSubDivisions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Yes Subdivision</label>
        </rules>
        <rules>
            <name>NOSUBDIVISION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedPrefferedSubDivisions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Subdivision1</targetReference>
            </connector>
            <label>NOSUBDIVISION</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Division</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Division_CD__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForCloning</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_For_Cloning__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subdivision</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubDiv_TXT__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubDivision111</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubDiv_TXT__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>uh</name>
        <dataType>String</dataType>
        <expression>{!AssignNewFieldValues.RecordType.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>ZipCodeLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Loop_Through_Selected_Opportunities.ZipCode_TXT__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Copy To New Dealer {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Copy To New Dealer</label>
    <loops>
        <name>Loop_through_New_Oppty_List</name>
        <label>Loop through New Oppty List</label>
        <locationX>1013</locationX>
        <locationY>802</locationY>
        <collectionReference>OpportunityList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subflow_for_updating_Dealer_subdivision_access</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Opportunities</name>
        <label>Loop Through Selected Opportunities</label>
        <locationX>903</locationX>
        <locationY>372</locationY>
        <collectionReference>getSelectedOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Zip_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_selected_opportunities11</name>
        <label>loop through selected opportunities</label>
        <locationX>319</locationX>
        <locationY>388</locationY>
        <collectionReference>getSelectedOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Subdivision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunities</name>
        <label>Create Opportunities</label>
        <locationX>851</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Loop_through_New_Oppty_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Please_Review_Error</targetReference>
        </faultConnector>
        <inputReference>OpportunityList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Acura_Record_Type</name>
        <label>Acura Record Type</label>
        <locationX>1614</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DivisionB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acura</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Engine_Record_Type</name>
        <label>Engine Record Type</label>
        <locationX>1547</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_for_DivisionP_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engine</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Equipment_Record_Type</name>
        <label>Equipment Record Type</label>
        <locationX>1553</locationX>
        <locationY>832</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Division_Pr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Power_Equipment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedPrefferedSubDivisions</name>
        <label>getRelatedPrefferedSubDivisions</label>
        <locationX>580</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Subdvision_is_not_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreferredDealerAccount.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Honda_Record_Type</name>
        <label>Honda Record Type</label>
        <locationX>1523</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Honda</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Marine_Record_Type</name>
        <label>Marine Record Type</label>
        <locationX>1640</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Division_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marine</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MotorCycle_Record_Type</name>
        <label>MotorCycle Record Type</label>
        <locationX>1418</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_for_Division_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Power_Sports</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assignment_Screen</name>
        <label>Assignment Screen</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRelatedPrefferedSubDivisions</targetReference>
        </connector>
        <fields>
            <name>Reason_For_Cloning</name>
            <choiceReferences>ReasonForCloning</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Dealer Buy-Sell</stringValue>
            </defaultValue>
            <fieldText>Reason For Cloning</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PreferredDealerAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreferredDealerAccount_TXT__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Preferred Dealer Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sub_Division</name>
            <choiceReferences>Subdivision</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subdivision1</elementReference>
            </defaultValue>
            <fieldText>Sub Division</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity_Relations__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>792</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Opportunities</targetReference>
        </connector>
        <fields>
            <name>NumberOfOpportunities</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Please Click on Next Button for confirming to Assign the selected opportunities to the Chosen Preferred Dealer&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Subdivision1</name>
        <label>No Subdivision</label>
        <locationX>667</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSub</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 11, 11);&quot;&gt;Please select the subdivision related to the selected Preferred Dealer Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Review_Error</name>
        <label>Please Review Error</label>
        <locationX>2032</locationX>
        <locationY>736</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>New</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(224, 14, 14);&quot;&gt;Error has occurred while assigning Opportunities to the Chosen dealer&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please review the below error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1459</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(60, 131, 9);&quot;&gt;Opportunities Created successfully and Assigned to the Chosen Dealer&lt;/b&gt;&lt;b style=&quot;color: rgb(8, 244, 149);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>21</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Check_BypassAutomations_c</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_for_updating_Dealer_subdivision_access</name>
        <label>Subflow for updating Dealer subdivision access</label>
        <locationX>1263</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>Loop_through_New_Oppty_List</targetReference>
        </connector>
        <flowName>Copy_to_New_Dealer_SubFlow</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>Case.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Loop_through_New_Oppty_List.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_through_New_Oppty_List.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignNewFieldValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>getSelectedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Subdivision1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
