flows/CRM_System_Name_on_Account_Batch_Job_Daily.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Adding_CRM_System_Name</name>
        <label>Adding CRM System Name</label>
        <locationX>885</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>StoreCRMSystemName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Looping_the_dealer_participation_record.CRM_System__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_the_dealer_participation_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_automation_check</name>
        <label>Bypass automation check</label>
        <locationX>496</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_get_active_dealer_participation_record</targetReference>
            </connector>
            <label>Bypass automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Dealer_CRM_Vendor_Name</name>
        <label>Checking Dealer CRM Vendor Name</label>
        <locationX>679</locationX>
        <locationY>694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Dealer_CRM_Vendor_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DealerCRMVendor_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Removelastcomma</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dealer_CRM_Vendor</targetReference>
            </connector>
            <label>Check Dealer CRM Vendor Name</label>
        </rules>
    </decisions>
    <description>Updates the Dealer CRM Vendor Field on Dealer Account with the active CRM Systems for everyday. If the current name is same then does not modify the record. Done as part of HPS-422</description>
    <formulas>
        <name>Removelastcomma</name>
        <dataType>String</dataType>
        <expression>LEFT({!StoreCRMSystemName},LEN({!StoreCRMSystemName})-2)</expression>
    </formulas>
    <interviewLabel>CRM System Name on Account Batch Job Daily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM System Name on Account Batch Job Daily</label>
    <loops>
        <name>Looping_the_dealer_participation_record</name>
        <label>Looping the dealer participation record</label>
        <locationX>684</locationX>
        <locationY>499</locationY>
        <collectionReference>To_get_active_dealer_participation_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_CRM_System_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Dealer_CRM_Vendor_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>To_get_active_dealer_participation_record</name>
        <label>To get active dealer participation record</label>
        <locationX>502</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_the_dealer_participation_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DealerAccount_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dealer_CRM_Vendor</name>
        <label>Update Dealer CRM Vendor</label>
        <locationX>931</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>DealerCRMVendor_TXT__c</field>
            <value>
                <elementReference>Removelastcomma</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>376</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Bypass_automation_check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127c0000009LQAAA2</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-06</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>addingcrmsystemnames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreCRMSystemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
