flows/CRM_system_names_on_dealer_account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Adding_the_crm_system_names_from_dealer_participations</name>
        <label>Adding the crm system names from dealer participations</label>
        <locationX>1236</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>Storingthenames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Looping_through_active_dealer_participations.CRM_System__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_active_dealer_participations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_decision_for_dealer_participation</name>
        <label>Checking decision for dealer participation</label>
        <locationX>768</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypass_automation_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_the_dealer_participation_records</targetReference>
            </connector>
            <label>bypass automation check</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formularemovelastcomma</name>
        <dataType>String</dataType>
        <expression>LEFT({!Storingthenames},LEN({!Storingthenames})-2)</expression>
    </formulas>
    <interviewLabel>CRM system names on dealer account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM system names on dealer account</label>
    <loops>
        <name>Looping_through_active_dealer_participations</name>
        <label>Looping through active dealer participations</label>
        <locationX>1050</locationX>
        <locationY>32</locationY>
        <collectionReference>Getting_the_dealer_participation_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_the_crm_system_names_from_dealer_participations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updating_the_dealer_account_with_the_crm_names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_the_dealer_participation_records</name>
        <label>Getting the dealer participation records</label>
        <locationX>896</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_active_dealer_participations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DealerAccount_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DealerAccount_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Participation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating_the_dealer_account_with_the_crm_names</name>
        <label>updating the dealer account with the crm names</label>
        <locationX>1050</locationX>
        <locationY>243</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DealerAccount_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DealerCRMVendor_TXT__c</field>
            <value>
                <elementReference>Formularemovelastcomma</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>335</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Checking_decision_for_dealer_participation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadReceivingStartDate_DT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadReceivingEndDate_DT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Dealer_Participation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Storingthenames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
