flows/CRM_switch_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Closed_0</name>
        <label>Case Closed</label>
        <locationX>1018</locationX>
        <locationY>1088</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>create_Email_activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseClosedEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>helms@ahm.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CRM Switch </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>case_type_CRM_switch</name>
        <label>case type CRM switch</label>
        <locationX>244</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_switch_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_current_dealer_participation_record_0</targetReference>
            </connector>
            <label>CRM switch case</label>
        </rules>
        <rules>
            <name>Current_CRM_system_filled_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_switch_status_check</targetReference>
            </connector>
            <label>Current CRM system filled path</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_approved_and_To_or_FROM_HELMS_path</name>
        <label>check approved and To or FROM HELMS path</label>
        <locationX>598</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Update_Dealer_Subdivision_in_From_HELMS_scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>scheduled_To_HELMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_CRM_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HELMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dealer_subdivision_in_To_HELMS_scheduled_switch</targetReference>
            </connector>
            <label>scheduled To HELMS</label>
        </rules>
        <rules>
            <name>scheduled_From_HELMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_CRM_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HELMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <label>scheduled From HELMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRM_switch_status_check</name>
        <label>CRM switch status check</label>
        <locationX>251</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_CRM_verification_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CRM Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Case_status_to_inprogress</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending CRM verification Path</label>
        </rules>
        <rules>
            <name>CRM_Vendor_Approved_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM Switch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_current_dealer_participation_record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CRM Vendor Approved Path</label>
        </rules>
        <rules>
            <name>Lead_Routed_Successfully_to_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Lead Routed Successfully</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_status_to_Closed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lead Routed Successfully to CRM</label>
        </rules>
        <rules>
            <name>New_Dealer_CRM_Approved_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Dealer CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Switch_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dealer_Subdivision_Record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Dealer CRM Approved Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRM_system_null_check</name>
        <label>CRM system null check</label>
        <locationX>491</locationX>
        <locationY>789</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_system_null_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_CRM_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_current_dealer_participation_record</targetReference>
            </connector>
            <label>CRM system null path</label>
        </rules>
        <rules>
            <name>CRM_System_not_null_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_CRM_System__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Case_record_with_the_current_crm_system_0</targetReference>
            </connector>
            <label>CRM System not null path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HELMS_crm_involved</name>
        <label>Is HELMS crm involved</label>
        <locationX>1007</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Update_Dealer_Subdivision_in_From_HELMS_crm_switch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_HELMS_crm_switch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_CRM_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HELMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_switch_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Gettingcurrenttime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dealer_subdivision_in_TO_HELMS_switch</targetReference>
            </connector>
            <label>To HELMS crm switch</label>
        </rules>
        <rules>
            <name>From_HELMS_crm_switch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_CRM_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HELMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_switch_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Gettingcurrenttime</elementReference>
                </rightValue>
            </conditions>
            <label>From HELMS crm switch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HELMS_New_Dealer_CRM</name>
        <label>Is HELMS New Dealer CRM</label>
        <locationX>13</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Update_dealer_subdivision_Record_if_not_helms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HELMS_as_New_Dealer_CRM_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_CRM_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HELMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dealer_Subdivision_Record</targetReference>
            </connector>
            <label>HELMS as New Dealer CRM Path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Gettingcurrenttime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CRM switch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM switch Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dealer_Participation_Record</name>
        <label>Create Dealer Participation Record</label>
        <locationX>871</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Is_HELMS_crm_involved</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_System__c</field>
            <value>
                <elementReference>$Record.New_CRM_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerAccount_ID__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Subdivision__c</field>
            <value>
                <elementReference>Get_Dealer_Subdivision_Record_for_switch.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.New_CRM_System__r.Division_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadReceivingStartDate_DT__c</field>
            <value>
                <elementReference>$Record.CRM_switch_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Dealer_Participation_Record_Self_service_case</name>
        <label>Create Dealer Participation Record Self service case</label>
        <locationX>19</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Is_HELMS_New_Dealer_CRM</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_System__c</field>
            <value>
                <elementReference>$Record.New_CRM_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerAccount_ID__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Subdivision__c</field>
            <value>
                <elementReference>Get_Dealer_Subdivision_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.New_CRM_System__r.Division_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadReceivingStartDate_DT__c</field>
            <value>
                <elementReference>$Record.CRM_switch_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Email_activity</name>
        <label>create Email activity</label>
        <locationX>1040</locationX>
        <locationY>1252</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>CaseClosedEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CRM Switch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>ReceipantEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealer_Subdivision_Record</name>
        <label>Get Dealer Subdivision Record</label>
        <locationX>18</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Dealer_Participation_Record_Self_service_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_CRM_System__r.Division_CD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Subdivision_Record_for_switch</name>
        <label>Get Dealer Subdivision Record for switch</label>
        <locationX>753</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Dealer_Participation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_CRM_System__r.Division_CD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_current_dealer_participation_record</name>
        <label>Get the current dealer participation record</label>
        <locationX>479</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRM_system_null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DealerAccount_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_current_dealer_participation_record_0</name>
        <label>Get the current dealer participation record</label>
        <locationX>463</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Case_record_with_the_current_crm_system</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DealerAccount_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Case_record_with_the_current_crm_system</name>
        <label>Change Case record with the current crm system</label>
        <locationX>738</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>CRM_switch_status_check</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_CRM_System__c</field>
            <value>
                <elementReference>Get_the_current_dealer_participation_record_0.CRM_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Case_record_with_the_current_crm_system_0</name>
        <label>Change Case record with the current crm system</label>
        <locationX>707</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_the_current_dealer_participation_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_CRM_System__c</field>
            <value>
                <elementReference>Get_the_current_dealer_participation_record.CRM_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Case_status_to_inprogress</name>
        <label>Change Case status to inprogress</label>
        <locationX>626</locationX>
        <locationY>538</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_to_Close_0</name>
        <label>Update Case Status to Close</label>
        <locationX>723</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Case_Closed_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_status_to_Closed</name>
        <label>Update case status to Closed</label>
        <locationX>253</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_Subdivision_in_From_HELMS_crm_switch</name>
        <label>Update Dealer Subdivision in From HELMS crm switch</label>
        <locationX>1139</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Close_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_Subdivision_in_From_HELMS_scheduled</name>
        <label>Update Dealer Subdivision in From HELMS scheduled</label>
        <locationX>861</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Case_Closed_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_subdivision_in_To_HELMS_scheduled_switch</name>
        <label>Update Dealer subdivision in To HELMS scheduled switch</label>
        <locationX>1087</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Case_Closed_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_subdivision_in_TO_HELMS_switch</name>
        <label>Update Dealer subdivision in TO HELMS switch</label>
        <locationX>1211</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Close_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dealer_Subdivision_Record</name>
        <label>Update Dealer Subdivision Record</label>
        <locationX>238</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Close_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dealer_Subdivision_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dealer_subdivision_Record_if_not_helms</name>
        <label>Update dealer subdivision Record if not helms</label>
        <locationX>65</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Close_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dealer_Subdivision_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Access_Level__c</field>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternetCertified_FLG__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Dealer_Division__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_current_dealer_participation_record</name>
        <label>Update the current dealer participation record</label>
        <locationX>721</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Get_Dealer_Subdivision_Record_for_switch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_current_dealer_participation_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadReceivingEndDate_DT__c</field>
            <value>
                <elementReference>$Record.CRM_switch_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Participation__c</object>
    </recordUpdates>
    <start>
        <locationX>123</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>case_type_CRM_switch</targetReference>
        </connector>
        <filterLogic>((1 OR 5) AND 2 ) OR ((1 OR 5) AND 3) OR ((1 OR 5)AND 4) OR (1 AND 6)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM Switch</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Switch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending CRM Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Switch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Switch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test Lead Routed Successfully</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Dealer CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Switch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>CRM_switch_start_date_for_HELMS_crm</name>
            <connector>
                <targetReference>check_approved_and_To_or_FROM_HELMS_path</targetReference>
            </connector>
            <label>CRM switch start date for HELMS crm</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CRM_switch_Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseClosedEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner:User.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email confirms that your request to switch CRM Vendors under case number {!$Record.CaseNumber} has been completed. You will begin receiving leads from {!$Record.New_CRM_System__r.Name} as of {!$Record.CRM_switch_Start_Date__c} which is the date you selected when you created the case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please do not hesitate to contact the iN Support Center at (800) 245 - 4343 if you have any remaining concerns.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;HELMS Core Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the email template which is sent to the Vendor with Dealer information and asking for Start/Effective Date.</description>
        <name>MailTemplatetoVendor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i&gt;Greetings!&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;A Dealer has requested your services as a new CRM Vendor.&lt;/i&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Dealer Name:&lt;/i&gt;&lt;/b&gt;&lt;i&gt; {!$Record.Contact.Account.Name}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Dealer Number:&lt;/i&gt;&lt;/b&gt;&lt;i&gt; {!$Record.Contact.Account.DealerNumber_NUM__pc}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Dealer Address:&lt;/i&gt;&lt;/b&gt;&lt;i&gt; {!$Record.Contact.Account.ShippingStreet}&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;i&gt;    {!$Record.Contact.Account.ShippingCity},{!$Record.Contact.Account.ShippingState} {!$Record.Contact.Account.ShippingPostalCode}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;                          {!$Record.Contact.Account.ShippingCountry}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Please provide the Start/Effective Date of the service, so the HELMS system can route Leads appropriately.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Case Number: {!$Record.CaseNumber}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This template is for the dealer once the test lead is successfully routed</description>
        <name>Testleadsuccesstemplatefordealer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings!&lt;/p&gt;&lt;p&gt;Your CRM switch request from {!$Record.Current_CRM_System__r.Name} to {!$Record.New_CRM_System__r.Name} has been approved.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This template is sent to the vendor after test lead is successfully routed to the crm system.</description>
        <name>TestLeadsuccesstemplateforVendor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings!&lt;/p&gt;&lt;p&gt;The CRM switch request for your CRM system has been approved.&lt;/p&gt;&lt;p&gt;Dealer Name :{!$Record.Contact.Account.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseOwnerEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>ReceipantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Email</elementReference>
        </value>
    </variables>
</Flow>
