flows/Dealer_Subdivision_OnBoarding_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dealer_Buy_sell_Mail_0_0</name>
        <label>Dealer Buy/sell Mail</label>
        <locationX>138</locationX>
        <locationY>4727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts_to_send_mails_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewDealerBuySell</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts_to_send_mails_0_0.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dealer Buy/Sell Notification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Dealer_Buy_sell_Mail_0_0_0</name>
        <label>Dealer Buy/sell Mail</label>
        <locationX>50</locationX>
        <locationY>4943</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewDealerBuySell</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>getEmailCollections1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dealer Buy/Sell Notification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_All_contacts_1</name>
        <label>Add All contacts</label>
        <locationX>270</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>StoreContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Available_Titled_Contacts_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_mdt_to_get_contacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mails_List</name>
        <label>Assign Mails List</label>
        <locationX>578</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>getEmailCollections1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_mdt_to_get_contacts_0.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_to_Mail_0_0_0_0_0_0</name>
        <label>Contacts to Mail</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>MailContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Mails_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_to_Mail_0_0_0_0_0_0_0</name>
        <label>Contacts to Mail</label>
        <locationX>578</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>MailContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contacts_to_Mail_0_0_0_0_0_0_0_0</name>
        <label>Contacts to Mail</label>
        <locationX>578</locationX>
        <locationY>4199</locationY>
        <assignmentItems>
            <assignToReference>MailContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Emails_0_0</name>
        <label>Get Emails</label>
        <locationX>556</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>getEmailCollections1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_mdt_to_get_contacts_0.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_All_Contacts_Visited</name>
        <label>Check All Contacts Visited</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_All_Contacts_Visited1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_All_contacts_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Region_0_0</targetReference>
            </connector>
            <label>Check_All_Contacts_Visited</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_role</name>
        <label>check role</label>
        <locationX>556</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>loop_through_mdt_to_get_contacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_mdt_to_get_contacts_0.Roles_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Contact_Record_Type_Honda_Business</targetReference>
            </connector>
            <label>check roles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Titled_Contacts_is_true</name>
        <label>Get Titled Contacts is true</label>
        <locationX>402</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>loop_through_mdt_to_get_contacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Titled_Contacts_is_true1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Titled_Contacts_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_All_contacts_1</targetReference>
            </connector>
            <label>Get_Titled_Contacts_is_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_MDT_is_true</name>
        <label>If MDT is true</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_MDT_is_true1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomMDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_mdt_to_get_contacts_0</targetReference>
            </connector>
            <label>If MDT is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_District_and_Contacts_0_0</name>
        <label>Match District and Contacts</label>
        <locationX>710</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_District_and_Contact_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_District_0_0.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_to_Mail_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Match District and Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Region_and_Contacts_0_0</name>
        <label>Match Region and Contacts</label>
        <locationX>710</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Region_and_Contact_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Region_0_0.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_to_Mail_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Match Region and Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Zone_and_Contact1_0_0</name>
        <label>Match Zone and Contact</label>
        <locationX>710</locationX>
        <locationY>3191</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Zone_and_Contact_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_ZONE_0_0.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_to_Mail_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Match Zone and Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>Region_Subdivision</name>
        <dataType>String</dataType>
        <expression>{!$Record.SalesRegion_CD__c} + &apos;-&apos; + TEXT({!$Record.SubDiv_TXT__c})</expression>
    </formulas>
    <formulas>
        <name>Region_Zone_Subdivision</name>
        <dataType>String</dataType>
        <expression>{!$Record.SalesRegion_CD__c}+ &apos;-&apos;+{!$Record.SalesZone_CD__c}+&apos;-&apos;+ TEXT({!$Record.SubDiv_TXT__c})</expression>
    </formulas>
    <formulas>
        <name>Zone_District_Subdivision</name>
        <dataType>String</dataType>
        <expression>{!$Record.SalesZone_CD__c}+ &apos;-&apos; + {!$Record.SalesDistrict_CD__c} + &apos;-&apos; + TEXT({!$Record.SubDiv_TXT__c})</expression>
    </formulas>
    <interviewLabel>Dealer Subdivision OnBoarding Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Subdivision OnBoarding Notifications</label>
    <loops>
        <name>Loop_Through_Contacts_to_send_mails_0_0</name>
        <label>Loop Through Contacts to send mails</label>
        <locationX>50</locationX>
        <locationY>4607</locationY>
        <collectionReference>MailContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dealer_Buy_sell_Mail_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dealer_Buy_sell_Mail_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_District_0_0</name>
        <label>Loop through District</label>
        <locationX>50</locationX>
        <locationY>3839</locationY>
        <collectionReference>get_District_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Contacts_to_send_mails_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_mdt_to_get_contacts_0</name>
        <label>loop through mdt to get contacts</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>getCustomMDT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Emails_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_All_Contacts_Visited</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Region_0_0</name>
        <label>Loop through Region</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <collectionReference>get_Region_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Zone_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Titled_Contacts_0_0_0_0_0_0</name>
        <label>Loop through Titled Contacts</label>
        <locationX>490</locationX>
        <locationY>2063</locationY>
        <collectionReference>StoreContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Region_and_Contacts_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Region_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Titled_Contacts_0_0_0_0_0_0_0</name>
        <label>Loop through Titled Contacts</label>
        <locationX>490</locationX>
        <locationY>3071</locationY>
        <collectionReference>StoreContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Zone_and_Contact1_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_ZONE_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Titled_Contacts_0_0_0_0_0_0_0_0</name>
        <label>Loop through Titled Contacts</label>
        <locationX>490</locationX>
        <locationY>3959</locationY>
        <collectionReference>StoreContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_District_and_Contacts_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_District_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ZONE_0_0</name>
        <label>Loop through ZONE</label>
        <locationX>50</locationX>
        <locationY>2951</locationY>
        <collectionReference>get_Zone_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Titled_Contacts_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_District_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Titled_Contacts_0</name>
        <label>Get Available Titled Contacts</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Titled_Contacts_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_mdt_to_get_contacts_0.Roles_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact_Record_Type_Honda_Business.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact_Record_Type_Honda_Business</name>
        <label>get Contact Record Type Honda Business</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Available_Titled_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Honda_Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_District_0_0</name>
        <label>get District</label>
        <locationX>50</locationX>
        <locationY>3719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_District_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone_District_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Zone_District_Subdivision</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_District_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Region_0_0</name>
        <label>get Region</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Region_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Region_Subdivision</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Region_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Zone_0_0</name>
        <label>get Zone</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ZONE_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region_Zone_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Region_Zone_Subdivision</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Zone_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomMDT</name>
        <label>getCustomMDT</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_MDT_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Roles_Title__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Buy_Sell_New_dealer_onboarding__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomMDT</targetReference>
        </connector>
        <filterLogic>4 AND (1 OR 2 OR 3)</filterLogic>
        <filters>
            <field>SalesZone_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesDistrict_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesRegion_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BuyFromDealerAccount_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Dealer_Division__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BuySellTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Test Template&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewDealerBuySell</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Greetings!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;This message is to notify you that we have received a dealer buy/sell request for the following dealer. The new dealer account has been created in HELMS. Please see the details below. The dealer users will be able to log in to HELMS dealer portal once they are set up in iN.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Old Dealer Number:{!$Record.BuyFromDealerAccount_CD__r.DealerCode_CD__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Old Dealer Name:{!$Record.BuyFromDealerAccount_CD__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;New Dealer Number:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Dealer_ID__r.DealerCode_CD__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;New Dealer Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Dealer_ID__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;We kindly ask you to follow up with the Dealer to ensure that they have created a case in HELMS for the new CRM selection. The dealer will not be able to receive the leads unless the case is created with the new CRM details and approved. The leads will still be available in HELMS dealer portal to download.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Please reach out to the HELMS Core Team at &lt;/span&gt;&lt;a href=&quot;mailto:CRMVendorSupport@AHM.Honda.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193);&quot;&gt;&lt;u&gt;CRMVendorSupport@AHM.Honda.com&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&amp;nbsp;if you have any questions or concerns.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;HELMS Support Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>getEmailCollections1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetMailCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StoreContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
