flows/Escalation_Mail_Flow_for_Dealers_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>mail_action_level_1</name>
        <label>mail action level 1</label>
        <locationX>1081</locationX>
        <locationY>546</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>looping_through_notification_preference_level_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>looping_through_notification_preference_level_1.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 1 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>mail_action_level_2</name>
        <label>mail action level 2</label>
        <locationX>1096</locationX>
        <locationY>693</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>looping_through_notification_preference_level_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>looping_through_notification_preference_level_2.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 2 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>mail_action_level_3</name>
        <label>mail action level 3</label>
        <locationX>898</locationX>
        <locationY>853</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>looping_through_notification_preference_level_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>looping_through_notification_preference_level_3.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 3 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_field_values_to_record</name>
        <label>Add field values to record</label>
        <locationX>41</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.PreferredDealerAccount_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_the_new_preferred_dealer_account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.MiddlewareUUID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Launchbox_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Opportunity_SF_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status_Message__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Status_Success_Age_NUM__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Success_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Failure_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Error_for_Dashboard__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routing_Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Error_Details_Urban_Science__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Response_Urban_Science__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SendOnlyToUrbanScience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Sent_to_Urban_Science_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.External_Lead_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Routable_FLG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned to Dealer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.OpportunityStatus_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned/Routed to Dealer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Service_Level_Agreement_TXT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.New_Dealer_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.PreferredDealerNumber_NUM__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Business_Hours_Elasped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.Urban_Science_Routing_Response_Message__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Sales_description__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Sales_errorcode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Sales_errordescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Sales_status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Service_description__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Service_errorcode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Service_errordescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SFMC_Service_status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues.SLA_4_Mail_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloning_opportunity_to_new_dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copying_the_opportunity_to_variable</name>
        <label>Copying the opportunity to variable</label>
        <locationX>193</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>AssignNewFieldValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_field_values_to_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Level_1_or_2_or_3_or_4_decide</name>
        <label>Level 1 or 2 or 3 or 4 decide</label>
        <locationX>484</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1_escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_dealer_subdivision_records_level_1</targetReference>
            </connector>
            <label>Level 1 escalation path</label>
        </rules>
        <rules>
            <name>Level_2_escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_dealer_subdivision_records_level_2</targetReference>
            </connector>
            <label>Level 2 escalation path</label>
        </rules>
        <rules>
            <name>Level_3_escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_dealer_subdivision_records_level_3</targetReference>
            </connector>
            <label>Level 3 escalation path</label>
        </rules>
        <rules>
            <name>Level_4_escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Dealer_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_the_new_preferred_dealer_account</targetReference>
            </connector>
            <label>Level 4 escalation path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Assignedtocheck</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!$Record.Assigned_To_TXT__r.FirstName}) &amp;&amp; ISBLANK({!$Record.Assigned_To_TXT__r.LastName}),&apos;your Sales Representative&apos;,{!$Record.Assigned_To_TXT__r.FirstName}+&apos; &apos;+{!$Record.Assigned_To_TXT__r.LastName})</expression>
    </formulas>
    <interviewLabel>Escalation Mail Flow for Dealers_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation Mail Flow for Dealers_Test</label>
    <loops>
        <name>looping_through_notification_preference_level_1</name>
        <label>looping through notification preference level 1</label>
        <locationX>955</locationX>
        <locationY>546</locationY>
        <collectionReference>Getting_dealer_notification_preference_records_level_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mail_action_level_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>looping_through_notification_preference_level_2</name>
        <label>looping through notification preference level 2</label>
        <locationX>976</locationX>
        <locationY>693</locationY>
        <collectionReference>Getting_dealer_notification_preference_records_level_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mail_action_level_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>looping_through_notification_preference_level_3</name>
        <label>looping through notification preference level 3</label>
        <locationX>762</locationX>
        <locationY>853</locationY>
        <collectionReference>Getting_dealer_notification_preference_records_level_3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mail_action_level_3</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cloning_opportunity_to_new_dealer</name>
        <label>Cloning opportunity to new dealer</label>
        <locationX>42</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Opportunity_Relationship</targetReference>
        </connector>
        <inputReference>AssignNewFieldValues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Relationship</name>
        <label>Opportunity Relationship</label>
        <locationX>199</locationX>
        <locationY>986</locationY>
        <inputAssignments>
            <field>New_Opportunity__c</field>
            <value>
                <elementReference>AssignNewFieldValues.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Cloning__c</field>
            <value>
                <stringValue>Customer Requested Dealer Reassignment</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Relations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_dealer_notification_preference_records_level_1</name>
        <label>Getting dealer notification preference records level 1</label>
        <locationX>842</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_through_notification_preference_level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_dealer_subdivision_records_level_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Level_1_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_dealer_notification_preference_records_level_2</name>
        <label>Getting dealer notification preference records level 2</label>
        <locationX>852</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_through_notification_preference_level_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_dealer_subdivision_records_level_2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Level_2_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_dealer_notification_preference_records_level_3</name>
        <label>Getting dealer notification preference records level 3</label>
        <locationX>639</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_through_notification_preference_level_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_dealer_subdivision_records_level_3.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Level_3_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_dealer_subdivision_records_level_1</name>
        <label>Getting dealer subdivision records level 1</label>
        <locationX>704</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_dealer_notification_preference_records_level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_dealer_subdivision_records_level_2</name>
        <label>Getting dealer subdivision records level 2</label>
        <locationX>701</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_dealer_notification_preference_records_level_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_dealer_subdivision_records_level_3</name>
        <label>Getting dealer subdivision records level 3</label>
        <locationX>492</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_dealer_notification_preference_records_level_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_the_new_preferred_dealer_account</name>
        <label>Getting the new preferred dealer account</label>
        <locationX>348</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copying_the_opportunity_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DealerCode_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Dealer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Level_1_or_2_or_3_or_4_decide</targetReference>
        </connector>
        <filterLogic>(1 AND 6) OR (2 AND 6) OR (3 AND 6) OR (4 AND 5 AND 7)</filterLogic>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 4</stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Dealer_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Dealer_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings,&lt;/p&gt;&lt;p&gt;This email advises that {!$Record.First_Name_TXT__c} {!$Record.Last_Name_TXT__c} requested a quote for a {!$Record.Product_TXT__c}. Follow-up has not been done within {!$Record.Business_Hours_Elasped__c} hours.&lt;/p&gt;&lt;p&gt;Would you please check with {!Assignedtocheck}? If the sales representative has already followed up, please have the sales representative update the opportunity record.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;HELMS Support Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignNewFieldValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
