flows/Escalation_mail_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Escalation_level_1_mail</name>
        <label>Escalation level 1 mail</label>
        <locationX>1025</locationX>
        <locationY>122</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Looping_through_the_level_1_dlr_notification_preference_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Level1escalationtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Looping_through_the_level_1_dlr_notification_preference_records.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 1 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Escalation_level_2_mail</name>
        <label>Escalation level 2 mail</label>
        <locationX>971</locationX>
        <locationY>351</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Looping_through_the_level_2_dlr_notification_preference_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Level2escalationtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Looping_through_the_level_2_dlr_notification_preference_records.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 2 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Escalation_level_3_mail</name>
        <label>Escalation level 3 mail</label>
        <locationX>841</locationX>
        <locationY>493</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Looping_through_the_level_3_dlr_notification_preference_records_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Level3escalationtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Looping_through_the_level_3_dlr_notification_preference_records_0.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification for Level 3 Escalation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Finds the level of escalation and decides the path to follow</description>
        <name>Level_1_or_2_or_3_path</name>
        <label>Level 1 or 2 or 3 path</label>
        <locationX>475</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1_Escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Dealer_Notification_preference_Records</targetReference>
            </connector>
            <label>Level 1 Escalation path</label>
        </rules>
        <rules>
            <name>Level_2_Escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Dealer_Notification_preference_Records_lvl2</targetReference>
            </connector>
            <label>Level 2 Escalation path</label>
        </rules>
        <rules>
            <name>Level_3_Escalation_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Level_Agreement_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Dealer_Notification_preference_Records_lvl3</targetReference>
            </connector>
            <label>Level 3 Escalation path</label>
        </rules>
    </decisions>
    <formulas>
        <name>Assignedtocheck</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!$Record.Assigned_To_TXT__r.FirstName}) &amp;&amp; ISBLANK({!$Record.Assigned_To_TXT__r.LastName}),&apos;your Sales Representative&apos;,{!$Record.Assigned_To_TXT__r.FirstName}+&apos; &apos;+{!$Record.Assigned_To_TXT__r.LastName})</expression>
    </formulas>
    <interviewLabel>Escalation mail flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation mail flow</label>
    <loops>
        <description>Loops through all the dealer notification preference records which are of level 1 service level agreement</description>
        <name>Looping_through_the_level_1_dlr_notification_preference_records</name>
        <label>Looping through the level 1 dlr notification preference records</label>
        <locationX>826</locationX>
        <locationY>122</locationY>
        <collectionReference>Getting_Dealer_Notification_preference_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Escalation_level_1_mail</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loops through all the dealer notification preference records which are of level 2 service level agreement</description>
        <name>Looping_through_the_level_2_dlr_notification_preference_records</name>
        <label>Looping through the level 2 dlr notification preference records</label>
        <locationX>796</locationX>
        <locationY>351</locationY>
        <collectionReference>Getting_Dealer_Notification_preference_Records_lvl2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Escalation_level_2_mail</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loops through all the dealer notification preference records which are of level 2 service level agreement</description>
        <name>Looping_through_the_level_3_dlr_notification_preference_records_0</name>
        <label>Looping through the level 3 dlr notification preference records</label>
        <locationX>637</locationX>
        <locationY>493</locationY>
        <collectionReference>Getting_Dealer_Notification_preference_Records_lvl3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Escalation_level_3_mail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Getting all the Dealer Notification Preference records which are related to the opportunity&apos;s preferred dealer account</description>
        <name>Getting_Dealer_Notification_preference_Records</name>
        <label>Getting Dealer Notification preference Records</label>
        <locationX>689</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_the_level_1_dlr_notification_preference_records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Preferred_Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SubDivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the Dealer Notification Preference records which are related to the opportunity&apos;s preferred dealer account</description>
        <name>Getting_Dealer_Notification_preference_Records_lvl2</name>
        <label>Getting Dealer Notification preference Records lvl2</label>
        <locationX>628</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_the_level_2_dlr_notification_preference_records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Preferred_Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SubDivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the Dealer Notification Preference records which are related to the opportunity&apos;s preferred dealer account</description>
        <name>Getting_Dealer_Notification_preference_Records_lvl3</name>
        <label>Getting Dealer Notification preference Records lvl3</label>
        <locationX>476</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_the_level_3_dlr_notification_preference_records_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Preferred_Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SubDivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>35</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Level_1_or_2_or_3_path</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 4) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Level 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Level_Agreement_TXT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Level1escalationtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings,&lt;/p&gt;&lt;p&gt;This email advises that {!$Record.First_Name_TXT__c} {!$Record.Last_Name_TXT__c} requested a quote for a {!$Record.Product_TXT__c}. Follow-up has not been done within {!$Record.Business_Hours_Elasped__c} hours.&lt;/p&gt;&lt;p&gt;Would you please check with {!Assignedtocheck}? If the sales representative has already followed up, please have the sales representative update the opportunity record.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;HELMS Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Level2escalationtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings,&lt;/p&gt;&lt;p&gt;This email advises that {!$Record.First_Name_TXT__c} {!$Record.Last_Name_TXT__c} requested a quote for a {!$Record.Product_TXT__c}. Follow-up has not been done within {!$Record.Business_Hours_Elasped__c} hours.&lt;/p&gt;&lt;p&gt;Would you please check with &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Assignedtocheck}&lt;/span&gt;? If the sales representative has already followed up, please have the sales representative update the opportunity record.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;HELMS Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Level3escalationtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Greetings,&lt;/p&gt;&lt;p&gt;This email advises that {!$Record.First_Name_TXT__c} {!$Record.Last_Name_TXT__c} requested a quote for a {!$Record.Product_TXT__c}. Follow-up has not been done within {!$Record.Business_Hours_Elasped__c} hours.&lt;/p&gt;&lt;p&gt;Would you please check with &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Assignedtocheck}&lt;/span&gt;? If the sales representative has already followed up, please have the sales representative update the opportunity record.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;HELMS Support Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
