flows/HELMS_Create_MatchBack.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailTemplate_for_Potential_Sale</name>
        <label>EmailTemplate for Potential Sale</label>
        <locationX>2173</locationX>
        <locationY>104</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PotentialSaleTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Potential Sale</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Sale_Matchback</name>
        <label>Opportunity Sale Matchback</label>
        <locationX>1650</locationX>
        <locationY>762</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts_Dealer_Match</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OpportunitySaleMatchback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts_Dealer_Match.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Opportunity Sale Matchback</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>check_BypassAutomations_c</name>
        <label>check BypassAutomations__c</label>
        <locationX>425</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassAutomations_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunitiesThatMeetsCriteria</targetReference>
            </connector>
            <label>BypassAutomations__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contacts</name>
        <label>Check Contacts</label>
        <locationX>1542</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactsFromPrefferedDealer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contacts_0</name>
        <label>Check Contacts</label>
        <locationX>1279</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContacts_Where_dealer_is_matched</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts_Dealer_Match</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Closed_own_and_Match_back_date</name>
        <label>Check for Closed own and Match back date</label>
        <locationX>1036</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Closed_own_and_Match_back</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.PreferredDealerAccount_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContacts_Where_dealer_is_matched</targetReference>
            </connector>
            <label>Check for Closed own and Match back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_Oppty_is_in_past_120days</name>
        <label>Check If the Oppty is in past 120days</label>
        <locationX>1348</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Match</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.PreferredDealerNumber_NUM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Dealer_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MetaData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Matchback_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BetweenDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MatchBack</targetReference>
            </connector>
            <label>Dealer Match</label>
        </rules>
        <rules>
            <name>No_dealer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.PreferredDealerNumber_NUM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Dealer_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MetaData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BetweenDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Matchback_No_dealer_match_found</targetReference>
            </connector>
            <label>No dealer Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>1180</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_check_Opportunities_fields</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Email_id_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Telephone_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Address_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Address_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Address_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_the_Oppty_is_in_past_120days</targetReference>
            </connector>
            <label>Null check Opportunities fields</label>
        </rules>
    </decisions>
    <formulas>
        <name>BetweenDays</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Sales_Date_DT__c} - DATEVALUE({!LoopThroughOpportunities.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MakeItToDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Sales_Date_DT__c} + 1</expression>
    </formulas>
    <interviewLabel>HELMS Create MatchBack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HELMS Create MatchBack</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>1763</locationX>
        <locationY>250</locationY>
        <collectionReference>getContactsFromPrefferedDealer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailTemplate_for_Potential_Sale</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contacts_Dealer_Match</name>
        <label>Loop Through Contacts Dealer Match</label>
        <locationX>1430</locationX>
        <locationY>764</locationY>
        <collectionReference>getContacts_Where_dealer_is_matched</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Sale_Matchback</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughOpportunities</name>
        <label>LoopThroughOpportunities</label>
        <locationX>826</locationX>
        <locationY>313</locationY>
        <collectionReference>GetOpportunitiesThatMeetsCriteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MatchBack</name>
        <label>Create MatchBack</label>
        <locationX>626</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Update_Opportunity_On_MatchBack_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>$Record.Sales_Date_DT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matchback_Status__c</field>
            <value>
                <stringValue>Matched to Dealer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDR_Sales__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Matchback_No_dealer_match_found</name>
        <label>Create Matchback(No dealer match found)</label>
        <locationX>1574</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Update_Sales_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>$Record.Sales_Date_DT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matchback_Status__c</field>
            <value>
                <stringValue>Matched to other Dealer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDR_Sales__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MetaData</name>
        <label>Get MetaData</label>
        <locationX>715</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_Code_MDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Code_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matchback_MDT__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContacts_Where_dealer_is_matched</name>
        <label>getContacts Where dealer is matched</label>
        <locationX>1194</locationX>
        <locationY>880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactsFromPrefferedDealer</name>
        <label>getContactsFromPrefferedDealer</label>
        <locationX>1336</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contacts</targetReference>
        </connector>
        <filterLogic>2 AND 1 AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunitiesThatMeetsCriteria</name>
        <label>GetOpportunitiesThatMeetsCriteria</label>
        <locationX>589</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MetaData</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 5) AND (3 OR 4 OR 6 OR (7 OR 8) )</filterLogic>
        <filters>
            <field>First_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_First_Name_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Last_Name_NM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Telephone_Number_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_id_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Address_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_NM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vin_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number_NUM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_On_MatchBack_Date</name>
        <label>Update Opportunity On MatchBack Date</label>
        <locationX>896</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Check_for_Closed_own_and_Match_back_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>MakeItToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Confirmation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Matched to Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Status</name>
        <label>Update Sales Status</label>
        <locationX>1346</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>getContactsFromPrefferedDealer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Matched to Other Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>check_BypassAutomations_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>XPROD_DIV_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Date_DT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RDR_Sales__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>OpportunitySaleMatchback</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Congratulations, there has been a MatchBack on {!LoopThroughOpportunities.Name}.&amp;nbsp;Please check your records, and update the stage and status of your opportunity to reflect the Closed Won stage and status.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Regards.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PotentialSaleTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i&gt;Dear {!Loop_Through_Contacts.Name}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Our records show that the below customer has already purchased a {!LoopThroughOpportunities.SubDiv_TXT__c} product at another dealership. Please confirm the same by updating the opportunity with the right status and details. If you think that the customer is making a purchase at your dealership, please update the opportunity status accordingly.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Customer Name&lt;/b&gt;&lt;i&gt; : {!LoopThroughOpportunities.First_Name_TXT__c} {!LoopThroughOpportunities.Last_Name_TXT__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email&lt;i&gt; &lt;/i&gt;&lt;/b&gt;&lt;i&gt;: &lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!LoopThroughOpportunities.Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone&lt;/b&gt;&lt;i&gt; : &lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!LoopThroughOpportunities.Phone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Zip code&lt;/b&gt;&lt;i&gt; : {!LoopThroughOpportunities.ZipCode_TXT__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Opportunity name&lt;/b&gt;&lt;i&gt; :&lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; {!LoopThroughOpportunities.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Thanks.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;HONDA Leads Management team&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
