flows/HELMS_UNWIND_LOGIC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>check_BypassAutomations_c</name>
        <label>check BypassAutomations__c</label>
        <locationX>379</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassAutomations_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunitiesthat_MeetCriteria</targetReference>
            </connector>
            <label>BypassAutomations__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Matching_Mtchbacks</name>
        <label>Check Matching Mtchbacks</label>
        <locationX>609</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Mtchbacks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMtchedRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_the_records</targetReference>
            </connector>
            <label>Matching Mtchbacks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Metadata</name>
        <label>Check Whether Metadata</label>
        <locationX>1015</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Whether_Metadata11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MetaData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMtchedRecords</targetReference>
            </connector>
            <label>Check Whether Metadata is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>1024</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_check_fields</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Email_id_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Telephone_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Address_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Address_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Address_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_Metadata</targetReference>
            </connector>
            <label>Null check fields</label>
        </rules>
    </decisions>
    <interviewLabel>HELMS UNWIND LOGIC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HELMS UNWIND LOGIC</label>
    <loops>
        <name>LoopThroughOpportunities</name>
        <label>LoopThroughOpportunities</label>
        <locationX>911</locationX>
        <locationY>124</locationY>
        <collectionReference>GetOpportunitiesthat_MeetCriteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Unwind records will delete</description>
        <name>Delete_the_records</name>
        <label>Delete the records</label>
        <locationX>491</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>UPDATE_OPPTY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <object>Matchback__c</object>
    </recordDeletes>
    <recordLookups>
        <name>get_MetaData</name>
        <label>get MetaData</label>
        <locationX>712</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Code_MDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Code_CD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HELMS_UN_WIND__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMtchedRecords</name>
        <label>getMtchedRecords</label>
        <locationX>724</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Matching_Mtchbacks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunitiesthat_MeetCriteria</name>
        <label>GetOpportunitiesthat MeetCriteria</label>
        <locationX>512</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_MetaData</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3 AND (9 OR 10)) AND (4 OR 5 OR 6 OR (7 OR 8))</filterLogic>
        <filters>
            <field>First_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_First_Name_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Last_Name_NM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Telephone_Number_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_id_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Address_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_NM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vin_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sale_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matched to Dealer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sale_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matched to Other Dealer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_OPPTY</name>
        <label>UPDATE OPPTY</label>
        <locationX>243</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matchback_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Matchback_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Confirmation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Sale Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>check_BypassAutomations_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>XPROD_DIV_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Date_DT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RDR_Sales__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
