flows/Manual_Routing_of_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Routing_Apex_Action</name>
        <label>Routing Apex Action</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <actionName>ManualRouting</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Executed_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOfOppIds</name>
            <value>
                <elementReference>CollectionVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManualRouting</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collection_Var</name>
        <label>Collection Var</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Individual_Id</name>
        <label>Loop Individual Id</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SingleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Opportunity_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mass_Opp_Records</name>
        <label>Mass Opp Records</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SingleOppRec.Reroute_ticket_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Case_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MassOppRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOppRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Opportunity_Rec</name>
        <label>Single Opportunity Rec</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SingleOppRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Records</name>
        <label>Total Records</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>RecordCountTotal</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollectionVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Showing_Selected_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Selected_Ids_Blank</name>
        <label>Selected Ids Blank</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ids_are_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Salesforce_Case_Number</targetReference>
            </connector>
            <label>Ids are not Null</label>
        </rules>
        <rules>
            <name>Ids_are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_at_least_one_Opportunity</targetReference>
            </connector>
            <label>Ids are Null</label>
        </rules>
    </decisions>
    <interviewLabel>Manual Routing of Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Routing of Opportunities</label>
    <loops>
        <name>Looping_Ids</name>
        <label>Looping Ids</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Individual_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Mass_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mass_Opp_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_Mass_Update</name>
        <label>Opportunity Mass Update</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Total_Records</targetReference>
        </connector>
        <inputReference>MassOppRec</inputReference>
    </recordUpdates>
    <screens>
        <name>Adding_Salesforce_Case_Number</name>
        <label>Adding Salesforce Case Number</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Looping_Ids</targetReference>
        </connector>
        <fields>
            <name>Salesforce_Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Reroute ticket number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Case number / JIRA ticket number / ITSM number if applicable&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Executed_Screen</name>
        <label>Flow Executed Screen</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OppSentForRouting</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The selected Opportunities are sent for Routing&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_at_least_one_Opportunity</name>
        <label>Select at least one Opportunity</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectIds</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select Opportunity to route&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Showing_Selected_Ids</name>
        <label>Showing Selected Ids</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Routing_Apex_Action</targetReference>
        </connector>
        <fields>
            <name>ShowingIds</name>
            <fieldText>&lt;p&gt;You have selected {!RecordCountTotal} Opportunities to Route&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Selected_Ids_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetRecordOppIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MassOppRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecordCountTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SingleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleOppRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
