flows/Matchback_New_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailTemplate_for_Potential_Sale</name>
        <label>EmailTemplate for Potential Sale</label>
        <locationX>1421</locationX>
        <locationY>63</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PotentialSaleTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lost Opportunity  – Please review and update your CRM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Sale_Matchback</name>
        <label>Opportunity Sale Matchback</label>
        <locationX>1439</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Contacts_Dealer_Match</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OpportunitySaleMatchback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Contacts_Dealer_Match.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Potential Sale  – Please review and update your CRM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_ByPass</name>
        <label>Check ByPass</label>
        <locationX>435</locationX>
        <locationY>329</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Closed_own_and_Match_back_date</targetReference>
            </connector>
            <label>CheckByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contacts</name>
        <label>Check Contacts</label>
        <locationX>1008</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subdivision_Access_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Dealer_Notification_Perferences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contacts_0</name>
        <label>Check Contacts</label>
        <locationX>766</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subdivision_Access</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Dealer_Notification_Perferences_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts_Dealer_Match</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Closed_own_and_Match_back_date</name>
        <label>Check for Closed own and Match back date</label>
        <locationX>824</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Closed_own_and_Match_back</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.PreferredDealerAccount_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Matchback_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matched to Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subdivision_Access</targetReference>
            </connector>
            <label>Check for Closed won and Match back Dealer Match</label>
        </rules>
        <rules>
            <name>Other_Dealer_Match</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Matchback_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matched to other Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.PreferredDealerAccount_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subdivision_Access_0</targetReference>
            </connector>
            <label>Other Dealer Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Matchback New Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Matchback New Notifications</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>1188</locationX>
        <locationY>63</locationY>
        <collectionReference>Get_Dealer_Notification_Perferences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailTemplate_for_Potential_Sale</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Contacts_Dealer_Match</name>
        <label>Loop Through Contacts Dealer Match</label>
        <locationX>1071</locationX>
        <locationY>490</locationY>
        <collectionReference>Get_Dealer_Notification_Perferences_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Sale_Matchback</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dealer_Notification_Perferences</name>
        <label>Get Dealer Notification Perferences</label>
        <locationX>858</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subdivision_Access_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Notification_Perferences_0</name>
        <label>Get Dealer Notification Perferences</label>
        <locationX>609</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subdivision_Access.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Potential_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subdivision_Access</name>
        <label>Get Subdivision Access</label>
        <locationX>446</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Notification_Perferences_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND (5 or 3)</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subdivision_Access_0</name>
        <label>Get Subdivision Access</label>
        <locationX>481</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Notification_Perferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>98</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Check_ByPass</targetReference>
        </connector>
        <object>Matchback_New__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpportunitySaleMatchback</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;Dear&amp;nbsp;{!Loop_Through_Contacts_Dealer_Match.Name}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Congratulations, there has been a sales matchback detected for lead below.&amp;nbsp;Please check your records and update the stage in your CRM.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer Name&lt;/strong&gt;&amp;nbsp;&lt;em&gt;:{!$Record.Opportunity__r.First_Name_TXT__c} {!$Record.Opportunity__r.Last_Name_TXT__c}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email&amp;nbsp;&lt;/strong&gt;&lt;em&gt;{!$Record.Opportunity__r.Email__c}: &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone&lt;/strong&gt;&amp;nbsp;&lt;em&gt;: {!$Record.Opportunity__r.Phone__c}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Zip code&lt;/strong&gt;&amp;nbsp;&lt;em&gt;: {!$Record.Opportunity__r.ZipCode_TXT__c}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Model:&lt;/strong&gt;&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Record.Opportunity__r.Year_YR__c} {!$Record.Opportunity__r.Model_TXT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you like to update your communication preferences or no longer wants to receive this email, you can do that by logging into HELMS via iN.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;HELMS Team&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PotentialSaleTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;i&gt;Dear {!Loop_Through_Contacts.Name}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Our records show that the below customer has already purchased a {!$Record.Opportunity__r.SubDiv_TXT__c} product at another dealership. Please confirm the same by updating the opportunity with the right status and details. If you think that the customer is making a purchase at your dealership, please update the opportunity status accordingly.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Customer Name&lt;/b&gt;&lt;i&gt; : {!$Record.Opportunity__r.First_Name_TXT__c} {!$Record.Opportunity__r.Last_Name_TXT__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email&lt;i&gt; &lt;/i&gt;&lt;/b&gt;&lt;i&gt;: {!$Record.Opportunity__r.Email__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone&lt;/b&gt;&lt;i&gt; :{!$Record.Opportunity__r.Phone__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Zip code&lt;/b&gt;&lt;i&gt; : {!$Record.Opportunity__r.ZipCode_TXT__c}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Model : &lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Opportunity__r.Year_YR__c} {!$Record.Opportunity__r.Model_TXT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;If you like to update your communication preferences or no longer wants to receive this email, you can do that by logging into HELMS via iN.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Thanks.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;HELMS Team&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
