flows/Opportunity_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opportunity_Sale_Matchback</name>
        <label>Opportunity Sale Matchback</label>
        <locationX>1492</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Activity_SubFlow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Dealer_Notifications.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> A new opportunity has been assigned to your dealership  </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>1001</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Dealer_Notifications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subdivision_Access</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Dealer_Notifications</targetReference>
            </connector>
            <label>Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckByPass</name>
        <label>CheckByPass</label>
        <locationX>474</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckByPass1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subdivision_Access</targetReference>
            </connector>
            <label>CheckByPass1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Notifications</label>
    <loops>
        <name>Loop_Through_Dealer_Notifications</name>
        <label>Loop Through Dealer Notifications</label>
        <locationX>1163</locationX>
        <locationY>492</locationY>
        <collectionReference>get_Dealer_Notifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Sale_Matchback</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Dealer_Notifications</name>
        <label>get Dealer Notifications</label>
        <locationX>775</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Lead_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subdivision.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Subdivision__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Notification_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subdivision</name>
        <label>Get Subdivision</label>
        <locationX>614</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Dealer_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subdivision_Access</name>
        <label>Get Subdivision Access</label>
        <locationX>446</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subdivision</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND (5 or 3)</filterLogic>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reporting Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>CheckByPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreferredDealerAccount_TXT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Email_Activity_SubFlow</name>
        <label>Email Activity SubFlow</label>
        <locationX>1315</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Loop_Through_Dealer_Notifications</targetReference>
        </connector>
        <flowName>Create_Email_Activity_SubFlow</flowName>
        <inputAssignments>
            <name>getAccount</name>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getContact</name>
            <value>
                <elementReference>Loop_Through_Dealer_Notifications.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetSubject</name>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>NewOpportunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!$Record.PreferredDealerAccount_TXT__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;A new opportunity has been assigned to your dealership. The details are as below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Name: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Email: {!$Record.Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Phone: {!$Record.Phone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Model/Year: {!$Record.Model_TXT__c}{!$Record.Model_ID__c}/{!$Record.Year_YR__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Lead Provider: {!$Record.LeadProvider_ID__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Please click the below HONDA lead management system link to view more details.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Login using your Dealer Number and Credentials&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;-&amp;gt;Navigate to Sales&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;-&amp;gt;Expand Lead Management&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;-&amp;gt;Select Lead Management and Analytics&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Lead_Management_URL}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Thanks!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;HONDA {!$Record.SubDiv_TXT__c} Lead Management team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;This message was sent from an unmonitored email address. Please do not reply to this message.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
