flows/Opportunity_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Oppty_workflow_to_populate_Dealer_Number</name>
        <label>Oppty workflow to populate Dealer Number</label>
        <locationX>607</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_Oppty_name</name>
            <conditionLogic>1 AND (2 OR 3 OR  4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PreferredDealerAccount_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.First_Name_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Name_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Last_Name_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Last_Name_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadProvider_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LeadProvider_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Middle_Name_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Middle_Name_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Year_YR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Year_YR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trim_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Trim_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Model_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Model_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Model_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Model_TXT__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Dealer_Number_and_oppty_Name</targetReference>
            </connector>
            <label>update Oppty name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name_TXT__c}&amp;&quot; &quot;&amp;{!$Record.Middle_Name_TXT__c}&amp;&quot; &quot;&amp;{!$Record.Last_Name_TXT__c}&amp;&quot; &quot;&amp;{!$Record.Year_YR__c }&amp;&quot; &quot;&amp;{!$Record.Model_TXT__c }&amp;&quot; &quot;&amp;{!$Record.Model_ID__c}&amp;&quot; &quot;&amp;{!$Record.Trim_TXT__c }</expression>
    </formulas>
    <formulas>
        <name>PreferredDealerAccount</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedBy.Account.Id}</expression>
    </formulas>
    <formulas>
        <name>PreferredDealerNumber</name>
        <dataType>String</dataType>
        <expression>{!$Record.PreferredDealerNumber_NUM__c}</expression>
    </formulas>
    <interviewLabel>Opportunity Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Dealer_Number_and_oppty_Name</name>
        <label>Populate Dealer Number and oppty Name</label>
        <locationX>1025</locationX>
        <locationY>351</locationY>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadProvider_ID__r.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredDealerNumber_NUM__c</field>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__r.DealerCode_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Oppty_workflow_to_populate_Dealer_Number</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
