flows/Oppty_Preferred_Dealer_Account_Update_in_Portal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Checking_User_Type</name>
        <label>Checking User Type</label>
        <locationX>499</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Type_Should_be_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreferredDealerAccount_TXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Preferred_Dealer_Account</targetReference>
            </connector>
            <label>User Type Should be Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oppty Preferred Dealer Account Update in Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty Preferred Dealer Account Update in Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Preferred_Dealer_Account</name>
        <label>Update Preferred Dealer Account</label>
        <locationX>367</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>PreferredDealerAccount_TXT__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Checking_User_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
