flows/Provider_Account_Is_Active_Flag_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Account record (rt = Provider) and Provider is not equal to Inactive then ISActive flag is true</description>
        <name>Provider_RT</name>
        <label>Provider RT</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_RT_Is_Active_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_RT_Is_Active_flag_is_true</targetReference>
            </connector>
            <label>Provider RT - Is Active is True</label>
        </rules>
        <rules>
            <name>Provider_RT_Is_Active_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProviderStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_ISACTIVE_Flag_is_False</targetReference>
            </connector>
            <label>Provider RT - Is Active is False</label>
        </rules>
        <rules>
            <name>Account_Launchbox_Field_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DealerCode_CD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launchbox_update</targetReference>
            </connector>
            <label>Account_Launchbox_Field_Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ProviderStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Start_Date__c}&lt;= NOW()  &amp;&amp; NOW() &lt;= {!$Record.End_Date__c},&apos;Active&apos;, &apos;Inactive&apos;)</expression>
    </formulas>
    <interviewLabel>Provider Account - Is Active Flag Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider Account - Is Active Flag Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Launchbox_update</name>
        <label>Launchbox update</label>
        <locationX>668</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Launchbox_ID__c</field>
            <value>
                <elementReference>$Record.DealerCode_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Provider_RT_Is_Active_flag_is_true</name>
        <label>Provider RT- Is Active flag is true</label>
        <locationX>140</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>IsActive_CD__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_ISACTIVE_Flag_is_False</name>
        <label>Updating ISACTIVE Flag is False</label>
        <locationX>404</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>IsActive_CD__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Provider_RT</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
