flows/SendLostSalesSurvey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSurvey</name>
        <label>SendSurvey</label>
        <locationX>499</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>SenderAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>helms@ahm.honda.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>SubjectEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey After Lost Sale</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checking_Bypass_Automation</name>
        <label>Checking Bypass Automation</label>
        <locationX>499</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GrabSurvey</targetReference>
            </connector>
            <label>Bypass Automation</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvintationExpirationDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+ 10</expression>
    </formulas>
    <interviewLabel>SendLostSalesSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendLostSalesSurvey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSurveyInvintation</name>
        <label>CreateSurveyInvintation</label>
        <locationX>499</locationX>
        <locationY>719</locationY>
        <assignRecordIdToReference>CreatedIdOfSurveyInvintation</assignRecordIdToReference>
        <connector>
            <targetReference>GetCreatedSurveyInvintation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <stringValue>0DB7c00000000ro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteExpiryDateTime</field>
            <value>
                <elementReference>InvintationExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SurveyInvintation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>GrabSurvey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSurveySubject_0</name>
        <label>CreateSurveySubject</label>
        <locationX>499</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>SendSurvey</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SurveySubjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetCreatedSurveyInvintation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCreatedSurveyInvintation</name>
        <label>GetCreatedSurveyInvintation</label>
        <locationX>499</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSurveySubject_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedIdOfSurveyInvintation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GrabSurvey</name>
        <label>GrabSurvey</label>
        <locationX>503</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSurveyInvintation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Won Sales Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Checking_Bypass_Automation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OpportunityStatus_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityStatus_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost Sales with Appointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityStatus_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost Sales Without Appointment</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Name},&lt;/p&gt;&lt;p&gt;We are sorry we weren&apos;t able to make sale with you. Too better improve our sales process we would like you to fill out this survey.  We hope that you will come make a purchase at another time! Have a wonderful day.&lt;/p&gt;&lt;p&gt;{!GetCreatedSurveyInvintation.InvitationLink}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedIdOfSurveyInvintation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SurveyInvintation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Survey Invitation for Opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>SurveyInvintationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>SurveySubjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Survey Connected Opportunity</stringValue>
        </value>
    </variables>
</Flow>
