flows/SendProviderNotificationToECRM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendToEcrm</name>
        <label>SendToEcrm</label>
        <locationX>1020</locationX>
        <locationY>260</locationY>
        <actionName>Account.SendNewLeadProviderNotfcationToECRM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ChangeSentToECRMtoTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.SendNewLeadProviderNotfcationToECRM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check_bypass_automations</name>
        <label>check bypass automations</label>
        <locationX>848</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypass_automation_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProviderRecordType</targetReference>
            </connector>
            <label>bypass automation check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordTypeIdOfRecord</name>
        <label>CheckRecordTypeIdOfRecord</label>
        <locationX>1015</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>RecordTypeIdDoesntMach</defaultConnectorLabel>
        <rules>
            <name>RecordTypeIdMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderRecordTypeHolder.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendToEcrm</targetReference>
            </connector>
            <label>RecordTypeIdMatches</label>
        </rules>
    </decisions>
    <interviewLabel>SendProviderNotificationToECRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendProviderNotificationToECRM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProviderRecordType</name>
        <label>GetProviderRecordType</label>
        <locationX>863</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordTypeIdOfRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProviderRecordName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ProviderRecordTypeHolder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ChangeSentToECRMtoTrue</name>
        <label>ChangeSentToECRMtoTrue</label>
        <locationX>1163</locationX>
        <locationY>279</locationY>
        <inputAssignments>
            <field>eCRM_setup_complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_bypass_automations</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProviderRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Provider</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProviderRecordTypeHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
