flows/TLX_launch_Count_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>1278</locationX>
        <locationY>145</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!storecount} leads has been created from TLX Type S PMC Waitlist AHM.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>bijay.sahoo1@wipro.com,call.bijay1@gmail.com,nishu_emde@na.honda.com,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>yourhonda@ebizmail.honda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Alert:TLX Type S PMC Waitlist AHM lead count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_count_value</name>
        <label>assign count value</label>
        <locationX>939</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>storecount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_custom_setting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_lead_provider</name>
        <label>Check lead provider</label>
        <locationX>820</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Type_S_lead_provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadProvider_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.TLXLaunchCount__c.Lead_Provider_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_count_value</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Type S lead provider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_check</name>
        <label>Count check</label>
        <locationX>1124</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_check_path</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>26.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>51.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>Count check path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Count</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.TLXLaunchCount__c.TLX_Type_S_PMC_Waitlist_AHM_Count__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>TLX launch Count Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TLX launch Count Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_custom_setting</name>
        <label>Update custom setting</label>
        <locationX>1005</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Count_check</targetReference>
        </connector>
        <inputAssignments>
            <field>TLX_Type_S_PMC_Waitlist_AHM_Count__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <object>TLXLaunchCount__c</object>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_lead_provider</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>storecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
