flows/Update_Sales_zone_and_district_on_oppty.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assigning_the_preferred_dealer_account_id_to_variable</name>
        <label>Assigning the preferred dealer account id to variable</label>
        <locationX>550</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>StoringPreferreddealerAccountid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Storingtheopptyssubdivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubDiv_TXT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_subdivision_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Subdivisions</name>
        <label>Checking Subdivisions</label>
        <locationX>432</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acura_and_NSX_subdivisions</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubDiv_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubDiv_TXT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_subdivision_records_for_acura_and_nsx</targetReference>
            </connector>
            <label>Acura and NSX subdivisions</label>
        </rules>
        <rules>
            <name>All_other_subdivisions</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubDiv_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubDiv_TXT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NSX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BypassAutomations__c.BypassProcessBuilder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_the_preferred_dealer_account_id_to_variable</targetReference>
            </connector>
            <label>All other subdivisions</label>
        </rules>
    </decisions>
    <interviewLabel>Update Sales zone and district on oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales zone and district on oppty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_subdivision_records</name>
        <label>Getting subdivision records</label>
        <locationX>752</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_the_sales_zone_and_district</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storingtheopptyssubdivision</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoringPreferreddealerAccountid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_subdivision_records_for_acura_and_nsx</name>
        <label>Getting subdivision records for acura and nsx</label>
        <locationX>740</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_the_sales_zone_and_district_for_acura_nsx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubDiv_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferredDealerAccount_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive_FLG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dealer_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_the_sales_zone_and_district</name>
        <label>Updating the sales zone and district</label>
        <locationX>957</locationX>
        <locationY>130</locationY>
        <inputAssignments>
            <field>SalesDistrict_TXT__c</field>
            <value>
                <elementReference>Getting_subdivision_records.SalesDistrict_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesZone_TXT__c</field>
            <value>
                <elementReference>Getting_subdivision_records.SalesZone_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_sales_zone_and_district_for_acura_nsx</name>
        <label>Updating the sales zone and district for acura &amp; nsx</label>
        <locationX>930</locationX>
        <locationY>307</locationY>
        <inputAssignments>
            <field>SalesDistrict_TXT__c</field>
            <value>
                <elementReference>Getting_subdivision_records_for_acura_and_nsx.SalesDistrict_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesZone_TXT__c</field>
            <value>
                <elementReference>Getting_subdivision_records_for_acura_and_nsx.SalesZone_CD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Checking_Subdivisions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PreferredDealerAccount_TXT__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>PreferredDealerAccount_TXT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoringPreferreddealerAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Storingtheopptyssubdivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
