flows/Update_Helms_Matchback.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_If_the_Oppty_is_in_past_120days</name>
        <label>Check If the Oppty is in past 120days</label>
        <locationX>973</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.PreferredDealerNumber_NUM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Dealer_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MetaData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.Matchback_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BetweenDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MatchBack</targetReference>
            </connector>
            <label>Dealer Match</label>
        </rules>
        <rules>
            <name>No_dealer_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughOpportunities.PreferredDealerNumber_NUM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Dealer_Number_NUM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MetaData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BetweenDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Matchback_No_dealer_match_found</targetReference>
            </connector>
            <label>No dealer Match</label>
        </rules>
    </decisions>
    <formulas>
        <name>BetweenDays</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Sales_Date_DT__c} - DATEVALUE({!LoopThroughOpportunities.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MakeItToDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Sales_Date_DT__c} + 1</expression>
    </formulas>
    <interviewLabel>Update Helms Matchback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Helms Matchback</label>
    <loops>
        <name>LoopThroughOpportunities</name>
        <label>LoopThroughOpportunities</label>
        <locationX>826</locationX>
        <locationY>259</locationY>
        <collectionReference>GetOpportunitiesThatMeetsCriteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_the_Oppty_is_in_past_120days</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MatchBack</name>
        <label>Create MatchBack</label>
        <locationX>626</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>Update_Opportunity_On_MatchBack_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>$Record.Sales_Date_DT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matchback_Status__c</field>
            <value>
                <stringValue>Matched to Dealer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDR_Sales__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Matchback_No_dealer_match_found</name>
        <label>Create Matchback(No dealer match found)</label>
        <locationX>1328</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Update_Sales_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>$Record.Sales_Date_DT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matchback_Status__c</field>
            <value>
                <stringValue>Matched to other Dealer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDR_Sales__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Matchback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MetaData</name>
        <label>Get MetaData</label>
        <locationX>685</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_Code_MDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Code_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matchback_MDT__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunitiesThatMeetsCriteria</name>
        <label>GetOpportunitiesThatMeetsCriteria</label>
        <locationX>577</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MetaData</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) AND (3 OR 4 OR 6 OR (7 OR 8) )</filterLogic>
        <filters>
            <field>First_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_First_Name_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Last_Name_NM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Telephone_Number_NUM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_id_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_CD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.XPROD_DIV_CD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_TXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Address_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_NM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vin_TXT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number_NUM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_On_MatchBack_Date</name>
        <label>Update Opportunity On MatchBack Date</label>
        <locationX>896</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Matchback_Date__c</field>
            <value>
                <elementReference>MakeItToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Confirmation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Matched to Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Status</name>
        <label>Update Sales Status</label>
        <locationX>1346</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>LoopThroughOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughOpportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sale_Status__c</field>
            <value>
                <stringValue>Matched to Other Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>GetOpportunitiesThatMeetsCriteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>XPROD_DIV_CD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Date_DT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RDR_Sales__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>OpportunitySaleMatchback</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Congratulations, there has been a MatchBack on {!LoopThroughOpportunities.Name}.&amp;nbsp;Please check your records, and update the stage and status of your opportunity to reflect the Closed Won stage and status.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Regards.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
